.about {

    .about-container {
       display: flex;
       flex-direction: column;
       align-items: center;
       height: 100%;
       margin-top: 20px;

        ul {
            list-style-type: none;
            padding: 0;
            width: 80%;
        }
    }


    .collapse-div {
        margin-bottom: 30px;
        width: 100%;
    }

    .collapse-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $color1;
        color: $color2;
        font-weight: bold;
        border-radius: 5px;
        height: 50px;
        // margin: 30px;

        .collapse-name {
            margin-left: 15px;
        }

        img {
            margin-right: 15px;
        }

        .chevron-container {
            text-align: end;
    
            .reverse-rotate {
                transition: transform 0.5s ease;
                transform: rotate(-180deg);
                transform-origin: center;
              }
              
              .collapse-chevron {
                text-align: end;
                padding:0 20px;
                transition: transform 0.5s ease;
            }
        }
    }

    .collapse-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 1s ease-out;
        background: $color3;
        border-radius: 0 0 5px 5px;
        p {
            margin: 10px 20px;
            color: $color1;
        }
    }
    
    .collapse-content-visible {
        max-height: 300px;
    }
}



