.logement {
    .info-logement-container {
        display: flex;
        justify-content: space-between;
        margin: 0 100px;
        @media screen and (max-width: 768px) {
            margin: 0 30px;
            display: block;
        }
        .left-part-info {
            color: $color1;
            h2 {
                font-size: 2rem;
                margin-bottom: -10px;
                margin-top: 0;
                padding-right: 20px;
            }
            p {
                font-size: 1.1rem;
                font-weight: bold;
                margin-bottom: 30px;
            }

            ul {
                display: flex;
                flex-wrap: wrap;
                row-gap: 15px;
                margin: 0;
                padding: 0;
            }
            li {
                list-style-type: none;
                margin-right: 20px;
                min-width: 125px;
                padding: 0 10px;
                height: 25px;
                border-radius: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #FF6060;
                color: #FFFFFF;
                font-weight: bold;
                font-size: 0.8rem;
            }
        }

        .right-part-info {
            @media screen and (max-width: 768px) {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
            }
            .host-detail {
                display: flex;
                margin-bottom: 10px;
                margin-top: 5px;

                p {
                    color: $color1;
                    font-weight: bold;
                    width: 80px;
                }
    
                img {
                    border-radius: 100%;
                    width: 80px;
                    height: 80px;
                }
            }
        }
    }

    .collapse-container {
        display: flex;
        width: auto;
        justify-content: space-between;
        margin: 30px 100px;
        @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: row;
            margin: 30px;
            flex-wrap: wrap;
        }

        .collapse-div {
            width: 48%;
            @media screen and (max-width: 768px) {
                display: block;
                width: 100%;
                margin-bottom: 20px;
            }
        }

        .chevron-container {
            text-align: end;

            .reverse-rotate {
                @include reverseRotate;
            }
            
            .collapse-chevron {
                @include reverseChevron;
            }
        }



        .collapse-title {
            display: flex;
            width: 100%;
            background: $color1;
            color: $color2;
            border-radius: 10px;
            padding-right: 10px;
        
            
            p {
                width: 50%;
                margin: 10px 0 5px 10px;
                font-weight: bold;
            }
        }

        .collapse-content {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.5s linear;
            background: $color3;
            color: $color1;
            border-radius: 0 0 5px 5px;
            ul {
                list-style-type: none;
                margin: 10px 20px;
                padding: 0;
            }
            p {
                margin: 10px 20px;
            }
        }
        
        .collapse-content-visible {
            height: auto;
            max-height: 100%;
        }
    }
}